doctype html
html(lang='pl')
	
	//- head
	include includes/global/head.pug

	body
		.l-app
			include includes/layout/header.pug

			.l-main
				h1 hello world

			include includes/layout/footer.pug
			
	//- foot
	include includes/global/foot.pug