/* ==========================================================================
   Main
   ========================================================================== */

.l-app {
	width: 100vw;
	overflow: hidden;
}

/*========================================================================== */

.l-main {
    display: block;
}